<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Convex Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84A490C81EF3021E00538FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A490E21EF3021F00538FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A490ED1EF3021F00538FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
